<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quản lý người dùng</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Main Scripts -->
    <script src="../services/service.js" defer></script>
    <script src="../models/user.js" defer></script>
    <script src="../models/validation.js" defer></script>
    <script src="../controllers/main.js" defer></script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdownId"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Dropdown</a
              >
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Action 1</a>
                <a class="dropdown-item" href="#">Action 2</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <header class="display-4 my-4">
        Thực hành javascript - axios với dự án quản lý trung tâm
      </header>
      <!-- Phan tab menu -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            href="#DanhSachNguoiDung"
            role="tab"
            data-toggle="tab"
            >Danh sách người dùng</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#DanhSachKhoaHoc"
            role="tab"
            data-toggle="tab"
            >Danh sách khóa học</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ThongKe" role="tab" data-toggle="tab"
            >Thống kê</a
          >
        </li>
      </ul>
      <br />
      <!-- Tab panes -->
      <div class="tab-content">
        <!--Danh sách người dùng -->
        <div role="tabpanel" class="tab-pane in active" id="DanhSachNguoiDung">
          <div class="row">
            <div class="col-md-8">
              <!-- BEGIN BUTTOM THÊM MỚI -->
              <button
                id="btnThemNguoiDung"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#myModal"
              >
                <i class="fa fa-plus mr-1"></i>
                Thêm Mới
              </button>
              <!-- END BUTTON THÊM MỚI -->
            </div>
            <div class="col-md-4">
              <!-- BEGIN TÌM KIẾM -->
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập từ khóa"
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"
                    ><i class="fa fa-search"></i
                  ></span>
                </div>
              </div>
              <!-- END TÌM KIẾM -->
            </div>
          </div>
          <div class="clear-fix"></div>
          <div class="tblNguoiDung" id="tblNguoiDung">
            <!-- BEGIN TABLE NGƯỜI DÙNG -->
            <table class="table table-bordered">
              <thead>
                <th>User ID</th>
                <th>Account</th>
                <th>Password</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Language</th>
                <th>User Type</th>
                <th>Action</th>
              </thead>
              <tbody id="tblDanhSachNguoiDung"></tbody>
            </table>
            <!-- END TABLE NGƯỜI DÙNG -->
          </div>
          <br />
        </div>
        <!-- Kết thúc danh sách người dùng -->
        <!-- Danh sách khóa học -->
        <div role="tabpanel" class="tab-pane fade" id="DanhSachKhoaHoc">
          <span>Đang cập nhật...</span>
        </div>
        <!-- Kết thúc danh sách khóa học -->
        <!-- Thống kê -->
        <div role="tabpanel" class="tab-pane fade" id="ThongKe">
          <span>Đang cập nhật...</span>
        </div>
        <!-- Kết thúc thống kê -->
      </div>

      <!--KetThuc Tabmenu-->

      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 id="modal-title" class="modal-title">Modal Heading</h4>
              <button
                id="btn-close-modal"
                type="button"
                class="close"
                data-dismiss="modal"
              >
                &times;
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                <label>Account</label>
                <input
                  id="TaiKhoan"
                  class="form-control"
                  placeholder="Nhập vào tài khoản"
                />
                <small
                  id="tbTKNV"
                  style="display: none"
                  class="alert alert-danger"
                ></small>
              </div>
              <div class="form-group">
                <label>Full Name</label>
                <input
                  id="HoTen"
                  class="form-control"
                  placeholder="Nhập vào họ tên"
                />
                <small
                  id="tbTen"
                  style="display: none"
                  class="alert alert-danger"
                ></small>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input
                  id="MatKhau"
                  class="form-control"
                  placeholder="Nhập vào mật khẩu"
                  type="password"
                />
                <small
                  id="tbMatKhau"
                  style="display: none"
                  class="alert alert-danger"
                ></small>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input
                  id="Email"
                  class="form-control"
                  placeholder="Nhập vào Email"
                />
                <small
                  id="tbEmail"
                  style="display: none"
                  class="alert alert-danger"
                ></small>
              </div>
              <div class="form-group">
                <label>Image</label>
                <input
                  id="HinhAnh"
                  class="form-control"
                  placeholder="Nhập vào hình ảnh"
                />
                <small
                  id="tbHinhAnh"
                  style="display: none"
                  class="alert alert-danger"
                ></small>
              </div>
              <div class="form-group">
                <label for="">User Type </label>
                <select class="form-control" id="loaiNguoiDung">
                  <option>Choose User Type</option>
                  <option value="teacher">teacher</option>
                  <option value="student">student</option>
                </select>
                <small
                  id="tbLoaiNguoiDung"
                  style="display: none"
                  class="alert alert-danger"
                ></small>
              </div>
              <div class="form-group">
                <label for="">Language: </label>
                <select class="form-control" id="loaiNgonNgu">
                  <option>Choose Language</option>
                  <option value="ITALIAN">ITALIAN</option>
                  <option value="FRENCH">FRENCH</option>
                  <option value="JAPANESE">JAPANESE</option>
                  <option value="CHINESE">CHINESE</option>
                  <option value="RUSSIAN">RUSSIAN</option>
                  <option value="SWEDEN">SWEDEN</option>
                  <option value="SPANISH">SPANISH</option>
                </select>
                <small
                  id="tbNgonNgu"
                  style="display: none"
                  class="alert alert-danger"
                ></small>
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <textarea
                  name=""
                  id="MoTa"
                  class="form-control"
                  placeholder="Nhập vào mô tả"
                ></textarea>
                <small
                  id="tbMieuTa"
                  style="display: none"
                  class="alert alert-danger"
                ></small>
              </div>
            </div>
            <!-- Modal footer -->
            <div id="modal-footer" class="modal-footer"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="container"></div>
    <style>
      #container {
        min-width: 310px;
        max-width: 800px;
        height: 400px;
        margin: 0 auto;
      }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
      integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
